#!/usr/bin/make -f

DEB_CABAL_PACKAGE = happstack-dot-com
DEB_SETUP_GHC_CONFIGURE_ARGS = -fbackups

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/happstack-dot-com-server:: build-ghc-stamp
binary-fixup/happstack-dot-com-server::
	install -m 755 -s -D dist-ghc/build/happstack-server/happstack-server debian/happstack-dot-com-server/usr/bin/happstack-dot-com-server || true
	echo -n 'haskell:Depends=' >> debian/happstack-dot-com-server.substvars
	dpkg-query -W -f='haskell-clckwrks-theme-happstack-utils (=$${Version})' libghc-clckwrks-theme-happstack-dev >> debian/happstack-dot-com-server.substvars
	dpkg-query -W -f=', haskell-clckwrks-plugin-media-utils (=$${Version})' libghc-clckwrks-plugin-media-dev >> debian/clckwrks-dot-com-server.substvars
	dpkg-query -W -f=', haskell-clckwrks-utils (=$${Version})\n' libghc-clckwrks-dev >> debian/happstack-dot-com-server.substvars

makebuilddir::
	SITENAME=happstack.com HOSTNAME=seereason.com SERVERADMIN=partners@seereason.com PROXYPORT=9028 TESTINGPORT=8000 happstack-debianization-install

binary-fixup/happstack-dot-com-backups::
	install -Dps -m 755 dist-ghc/build/happstack-dot-com-backups/happstack-dot-com-backups debian/happstack-dot-com-backups/etc/cron.hourly/happstack-dot-com
